{
  "extends": "eslint-config-accurapp",
  "env": {
    "browser": true
  },
  "rules": {
    "no-copy-paste-default-export/default": "off",
    "no-used-before-define": "off",
    "no-bitwise": "off"
  }
}
