body {
  height: 100vh;
  background: linear-gradient(#7df9ff, #1d7cf2); /* electric blue to peafowl */

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  font-size: 70px;
  animation: spin 1s ease infinite;
  transform-origin: 50% 45%;
}

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}
